/build/
/.keys/
/ports/water-ripple/build/
/tools/dlopen-probe/build/
/ports/abstract-tiles/tests/results/
/ports/abstract-tiles/tests/hint_restart_probe_*/
/ports/abstract-tiles/tests/lse_abstract_baseline*.png
/ports/abstract-tiles/tests/lse_selector.*
/ports/abstract-tiles/tests/lse_abstract_idle_unlocked.png
/ports/abstract-tiles/tests/lse_abstract_reference_unlocked.mp4
/ports/abstract-tiles/tests/lse_reference_unlocked_*/
/ports/abstract-tiles/tests/lse_reference_video_frames/
/captures/effect-demos/
*.log
