<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.lle"
    android:versionCode="30"
    android:versionName="1.0.5.4">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="35" />

    <queries>
        <package android:name="com.android.systemui" />
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:supportsRtl="true">
        <service
            android:name=".ChargingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/charging_accessibility_service" />
        </service>
        <receiver
            android:name=".EffectBackgroundRefreshReceiver"
            android:exported="false" />
        <provider
            android:name=".DebugReportProvider"
            android:authorities="com.codex.lle.debugreports"
            android:exported="false"
            android:grantUriPermissions="true" />
        <activity
            android:name=".ControlActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupWizardActivity"
            android:theme="@style/AppTheme"
            android:label="L.L.E setup"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".WallpaperCropActivity"
            android:theme="@style/AppTheme"
            android:label="L.L.E wallpaper editor"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Note5NativeProbeActivity"
            android:process=":nativeprobe"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".TouchBoxSetupActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DoodlePositionActivity"
            android:theme="@style/AppTheme"
            android:label="L.L.E doodle layout"
            android:exported="false" />
        <activity
            android:name=".EffectBackgroundWakeActivity"
            android:theme="@style/Theme.ChargingTransparent"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="false" />
    </application>
</manifest>
